body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0B0A09;

    font-family: 'Space Mono', monospace;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
}

.inputs {
    margin: 30px 0;
    color: #FFF;
    flex-direction: column;
}